body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none!important;
}
p{
    margin-bottom: 0;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Roboto', sans-serif; */

}
.poppins{
    font-family: 'Poppins', sans-serif;
}
.roboto{
    font-family: 'Roboto', sans-serif;
}
.bangla-font{
    font-family: 'Noto Sans Bengali', sans-serif;
    font-size: 14px;
}
.bangla-font2{
    font-family: 'Noto Sans Bengali', sans-serif;
}
section{
    padding: 40px 0;
}
.price{
    color: #000000;
    font-weight: bold;
}
.fish-name{
    font-weight: 600;
}

/* google fonts custom link  */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.middle{
    display: flex;
    align-items: center;
}
.justify-right{
    display: flex;
    justify-content: right;
}
.justify-center{
    justify-content: center;
    display: flex;
}
.justify-left{
    display: flex;
    justify-content: left;
}
.full-radius{
    border-radius: 35px;
}
.vertical-center{
    display: flex;
    align-items: center;
}

button{
    margin: 0 5px;
    border-radius: 2px;
    padding: 10px 14px;
}
.bold{
    font-weight: bold;
}

/* header secton code start from here  */
nav{
    background-color: #f5f5f5;
    padding: 10px 0;
}
.lr-padding{
    padding: 0 20px;
}
.log-btn{
    background-color: #d72828;
    border: 1px solid #d72828;
    font-size: 14px;
    color: #ffffff;
}
button.bangla-font.cart-btn {
    background: #111111;
    border: 1px solid #111111;
    color: #ffffff;
    font-size: 14px;
}
.cart{
    padding-left: 6px;
}
i.fa-brands.fa-facebook-f.lr-padding, i.fa-brands.fa-instagram.lr-padding, i.fa-brands.fa-linkedin-in.lr-padding {
    color: white;
    background: #111111;
    padding: 14px 18px;
    font-size: 16px;
    margin-right: 4px;
}

/* header secton code end from here  */

/* search section css start from here  */

.search{
    padding: 10px 0;
}
button#dropdownMenuButton {
    height: 34px;
}

/* search section css end from here  */

/* fish list code start from here  */
.section-heading {
    text-align: center;
    margin-bottom: 40px;
    font-size: 34px;
    font-weight: bold;
}


.fish-list-section, .order-confirm-sec {
    background: url(../images/background.png);
    background-position: center;
    background-size: inherit;
    background-repeat: repeat;
}


.span-btn {
    background: #f5f5f5;
    margin: 0 5px;
    padding: 12px 14px;
    border-radius: 35px;
}
.fish-div {
    background: #ffffff;
    padding: 36px;
    border-bottom: 2px solid #f5f5f5;
    box-shadow: 0 0 6px rgb(0 0 0 / 15%);
    border-radius: 8px;
}
.add-cart {
    background: #ffca2c;
}
.add-cart a{
    color: #000;
    font-size: 12px;
}
.fish-name-div {
    padding: 14px 0;
}
.fish-col:nth-child(even){
    padding-right: 40px!important;
    margin-bottom:35px;
}
.fish-col:nth-child(odd){
    padding-left: 40px!important;
    margin-bottom:35px;
}
.see-more-fish a{
    color: white;
}
.river-fish-col .row{
    justify-content: right;
}
.sea-fish-col .row{
    justify-content: left;
}

/* fish list code end from here  */

/* 2 category fish css code start from here */

.river-fish-div {
    background: #ffffff;
    padding: 16px;
    border-bottom: 2px solid #f5f5f5;
    box-shadow: 0 0 6px rgb(0 0 0 / 15%);
    border-radius: 8px;
}
.river-fish-div .span-btn {
    background: #f5f5f5;
    margin: 0 5px;
    padding: 6px 8px;
    border-radius: 35px;
}
.river-add-cart{
    background: #ffca2c!important;
    padding: 6px 8px!important;
    border-radius: 35px!important;
    margin-top: 10px!important;
}
.river-add-cart a{
    color: #000000!important;
    font-size: 12px;

}
.river-fish-p{
    padding-left: 20px;
}
.river-fish-div {
    margin-bottom: 20px;
}

/* 2 category fish css code end from here */

/* footer section css code start from here  */

.footer-section{
    background: #f5f5f5;
}
.footer-col-1-p{
    font-size: 14px;
    margin-top: 10px;
}
.footer-icons {
    margin-top: 14px;
}
.footer-col-2-wrapper ul li{
    list-style: none;
}
.footer-col-2-wrapper ul li a{
    font-size: 14px;
    color: #000;
    line-height: 3rem;
}
.footer-col-2-wrapper ul li a:hover{
    border-bottom:1px solid #111111;
}
li.poppins.footer-link-heading {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
}
.footer-col-3-wrapper ul li{
    list-style: none;
    font-size: 14px;

}
.footer-col-3-wrapper ul li i{
    margin-right: 15px;
    line-height: 3rem;
}
p.poppins.text-center {
    border-top: 1px solid white;
    padding: 20px 0;
    background: #f5f5f5;
}

/* footer section css code end from here  */


/* product template css code start from here  */

.product-image {
    overflow: hidden;
}
.product-title h1, .billing-title h1 {
    font-size: 32px;
    font-weight: 600;
}
.product-weight a {
    background: #ffca2c;
    padding: 10px 16px;
    font-size: 16px;
    color: #111111;
    font-weight: 700;
}
/* .price-wrapper {
    background: #f5f5f5;
    padding: 40px;
    border-radius: 8px;
} */
.p-category-tag{
    margin-top: 16px;
}
a.product-var-price {
    background: #009758;
    color: white;
}
#product-image2{
    display: none;
}
#product-image3{
    display: none;
}
#product-image4{
    display: none;
}
.gallery-images{
    cursor: pointer;
}

#product-image1{
    display: block;
}
img.img-fluid.gallery-images{
    transition: 0.4s;
}
img.img-fluid.gallery-images:hover {
    border: 1px solid #e68b06;
    border-radius: 5px;
    scale: 1.1;
    transition: 0.4s;
}

#priceId2{
    display: none;
}
#priceId3{
    display: none;
}

/* new billing css code  */
.billing-col {
    background: #f5f5f5;
    padding: 24px;
    border-radius: 4px;
    /* box-shadow: 3px 2px 5px 2px #cbc3c3; */
    border: 2px solid #009758;
}
.billing-select-btn p{
    border: 2px solid #009758;
    padding: 10px 16px;
    border-radius: 2px;
    cursor: pointer;
}
.billing-select-btn p a{
    color: #009758;
}
#billSelectedBTN, #billSelectedBTN2, #billSelectedBTN3{
    display: none;
}
#billSelectedBTN, #billSelectedBTN2, #billSelectedBTN3{
    background: #009758;
}
#billSelectedBTN a, #billSelectedBTN2 a, #billSelectedBTN3 a{
    color: #ffffff;
}

/* product quantity css  */
button#sub {
    border: none;
    padding: 4px 12px;
    font-size: 16px;
    font-weight: bold;
}
button#add {
    border: none;
    padding: 4px 10px;
    font-size: 16px;
    font-weight: bold;
}
input#\31 {
    border: 2px solid #f5f5f5;
    width: 36px;
    text-align: center;
}
.price-input input[type="text"] {
    height: 50px;
    width: 100px;
}
.count{
    padding:4px;
}

/* product template css code end from here  */

/* checkout template css code start from here */

input {
    padding: 14px;
    margin-bottom: 10px;
    border: 2px solid #e3e3e3;
    border-radius: 4px;
    width: 100%;
    margin-top: 5px;
}

.checkout-section{
        background: url(../images/background.png);
        background-position: center;
        background-size: inherit;
        background-repeat: repeat;
        height: 100vh;
}
.shipping-col-1 {
    background: #f5f5f5;
    padding: 40px;
    border-radius: 4px;
}
.shipping-col-2{
    background: #f5f5f5;
    padding: 40px;
    border-radius: 4px;
    width: 100%;
}
p.bangla-font2.bill-p-pieces {
    font-size: 12px;
}
.order-summary-wrapper{
    height: 367px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.col-md-6.bill-col-1 {
    padding-right: 20px;
}
.col-md-6.bill-col-2 {
    padding-left: 20px;
}
.order-summary-wrapper .row {
    padding: 8px 0;
    border-bottom: 1px solid #ffffff;
}
button.order-submit.mt-5 {
    border: 2px solid #111;
    background: #111111;
    color: #ffffff;
    transition:0.4s;
}
button.order-submit.mt-5:hover {
    border: 2px solid #111;
    background: #ffffff;
    color: #111111;
    transition:0.4s;
}
.bkash-img {
    max-width: 12%!important;
    height: auto;
}
.home-slide.item {
    height: 70vh;
    overflow: hidden;
}
.row.mt-5 {
    border-top: 2px solid #f5f5f5;
    padding-top: 40px;
}
.payment-box{
    display: flex;
    align-items: center;
}
.checkbox-spacing{
    margin-right: 12px;
}
@media (min-width: 768px){

.col-md-3.item {
    flex: 0 0 auto;
    width: 80%;
}
}
/* checkout template css code end from here */

/* order confirmation template css code start from here  */

.order-confirmation-container{
    border: 4px solid #f5f5f5;
    border-radius: 8px;
    padding: 20px!important;
    background-color: #ffffff;
}
.first-sec,.second-sec {
    padding-bottom: 20px;
    border-bottom: 3px solid #f5f5f5;
}
.second-sec, .third-sec, .fourth-sec, .extra-sec{
    padding: 42px;
    border-bottom: 3px solid #f5f5f5;
}
.confirm-page-img {
    max-width: 50%!important;
    height: auto;
}
.fifth-sec{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.second-sec h6, .third-sec h6, .fourth-sec h6, .fifth-sec h6, .extra-sec h6 {
    color: #838383;
}
button.print-btn {
    color: white;
    background: #111111;
    border-radius: 4px;
}
.mobile-payment{
    display: none;
}
.first-sec p {
    color: #606060;
}
@media print{
    body *:not(#printedSection):not(#printedSection *){
        visibility: hidden;
    }
    #printedSection{
        position: absolute;
        top: 0;
        left: 0;
    }
}


/* order confirmation template css code start from here  */





/* responsive css code start from here  */




@media (min-width: 320px) and (max-width: 767px) {

    /* mobile home page responsive code start from here  */

    .fish-col:nth-child(even) {
        padding-right: 15px!important;
        padding-left: 15px;
    }
    .fish-col:nth-child(odd) {
        padding-left: 15px!important;
        padding-right: 15px;
        margin-bottom: 35px;
    }
    .bangla-font {
        font-family: 'Noto Sans Bengali', sans-serif;
        font-size: 10px;
    }
    .span-btn {
        background: #f5f5f5;
        margin: 0 2px;
        padding: 10px 8px;
        border-radius: 35px;
    }
    .add-cart {
        background: #ffca2c;
    }
    h5.fish-name.bangla-font {
        font-size: 14px;
    }
    .add-cart a {
        color: #000;
        font-size: 10px;
    }
    h1.section-heading.bangla-font {
        font-size: 18px;
    }
    .home-slide.item {
    height: auto;
    overflow: hidden;
    }
    .owl-theme .owl-nav {
        display: none;
    }
    .owl-dots {
        margin-top: 10px;
    }
    section {
        padding: 20px 0;
    }
    .sea-fish-col .row {
        justify-content: center;
    }
    .river-fish-col .row {
        justify-content: center;
    }
    .col-md-6.river-fish-col-2.river-fish-col {
        margin-top: 60px;
    }
    .river-add-cart a {
        color: #000000!important;
        font-size: 10px;
    }
    .col-md-4.footer-col-2-wrapper {
        margin-top: 16px;
    }

    /* mobile home page responsive code end from here  */

    
    /* mobile product page responsive code end from here  */

    .product-title h1, .billing-title h1 {
        text-align: center;
    }
    .product-page-right-wrapper {
        padding-top: 30px;
    }
    .billing-weight-wrapper.mb-4 {
        text-align: center;
    }
    .billing-price-wrapper.mb-4 {
        text-align: center;
    }
    p.mb-2.bold.pack-1 {
        text-align: center;
    }
    p.mb-2.bold.pack-2, p.mb-2.bold.pack-3 {
        display: none;
    }
    .packet-pieces-wrap{
        text-align: center;
    }
    .mobile-payment{
        margin: 0 20px;
    }
    .desktop-payment{
        display: none;
    }
    .mobile-payment{
        display: block;
    }
    .col-md-6.bill-col-1, .col-md-6.bill-col-2 {
        padding-right: 15px;
        padding-left: 15px;
    }
    .col-md-6.bill-col-2{
        margin-top: 3rem;
    }

    .order-summary-wrapper {
        height: 231px;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .order-summary-wrapper .row .col-md-2{
        width: 20%;
    }
    .order-summary-wrapper .row .col-md-8{
        width: 60%;
    }
    .total-count-div.row.mt-5 {
        padding-top: 10px;
    }
    .item-titles{
        width: 60%;
    }
    .items-price, .items-number{
        width: 40%;
        text-align: right;
    }

    /* mobile product page responsive code end from here  */


    /* mobile order confirmation page responsive code end from here  */

    .first-sec h3.mb-4.bold {
        text-align: center;
        font-size: 20px;
    }
    .second-sec .row .col-md-3.text-center {
        width: 25%;
    }
    .second-sec, .third-sec, .fourth-sec, .extra-sec {
        padding: 14px;
    }
    .second-sec .row .col-md-3.text-center h5, .title-cat-wrapper h5{
        font-size: 14px;
    }
    .second-sec .row .col-md-3.text-center h6, .title-cat-wrapper h6{
        font-size: 10px;
    }
    .col-md-6.text-center.total-product-number, .col-md-6.text-center.total-product-price {
        width: 50%;
    }
    .col-md-6.text-center.total-product-number h5, .col-md-6.text-center.total-product-price h5{
        font-size: 14px;
    }
    .col-md-6.text-center.total-product-number h6, .col-md-6.text-center.total-product-price h6{
        font-size: 12px;
    }
    .third-sec .row .col-md-3{
        width: 25%;
        padding: 4px;
    }
    .confirm-page-img {
        max-width: 100%!important;
        height: auto;
    }
    .col-md-3.middle.justify-center p.bold {
        font-size: 11px;
        text-align: center;
    }
    .first-sec p {
        font-size: 12px;
    }
    .footer-regards-text p{
        font-size: 12px;
    }
    .fifth-col-1 p, .fifth-col-2 p{
        font-size: 12px;
        text-align: center;
    }


    /* mobile order confirmation page responsive code end from here  */
    

}
@media (min-width: 768px) and (max-width: 1024px){

    /* home page tablet responsive code start from here  */

    .home-slide.item {
        height: 47vh;
        overflow: hidden;
    }
    .col-md-6.sea-fish-col.river-fish-col, .col-md-6.river-fish-col-2.river-fish-col {
        width: 100%;
        margin-bottom: 60px;
    }
    .fish-col:nth-child(even) {
        padding-right: 7.5px!important;
        margin-bottom: 35px;
    }
    .fish-col:nth-child(odd) {
        padding-left: 7.5px!important;
        margin-bottom: 35px;
    }
    .sea-fish-col .row {
        justify-content: center;
    }
    .river-fish-col .row {
        justify-content: center;
    }

    /* home page tablet responsive code start from here  */

/* product page tablet responsive css code start from here  */

.col-md-4.mb-4.productWeight {
    width: 100%;
}
.billing-col {
    padding: 15px 30px;
}
span.span-btn.price.poppins.add-cart {
    display: block;
    margin-top: 20px;
}

/* product page tablet responsive css code end from here  */

}






/* responsive css code end from here  */